@import 'sidenotes.css';

:root {
	--padding: 0.5lh;
	--background: white;
	--text: black;
}

@media(prefers-color-scheme: dark) {
	:root {
		--background: #212121;
		--text: #ddd;
	}
}

html {
	line-height: 1.6;
	font-family: serif;
	background: var(--background);
	color: var(--text);
}

/* Page layout. */
body {
	padding: 2ch;

	display: grid;
	justify-content: center;
	grid-template-areas:
		"header header header"
		"nav content aside"
		"footer footer footer";
	grid-gap: 2ch;

	grid-template-columns: fit-content(30ch) fit-content(79ch) 30ch;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

@media (max-width: 768px) {
	html {
		font-size: 16px;
	}

	body {
		grid-template-areas:
			"header"
			"nav"
			"content"
			"side"
			"footer";

		grid-template-columns: 1fr;
		grid-template-rows:
			auto
			fit-content(75px)
			1fr
			minmax(75px, auto)
			auto;
	}

	header {
		justify-content: center;
	}

	nav {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fill, 20ch);
		grid-gap: 0 var(--padding);
	}
}

header {
	display: flex;
	grid-gap: 0.5lh;
	align-items: center;
	justify-content: center;
	grid-area: header;
}

header img {
	max-height: 2lh;
}

main {
	grid-area: content;
}

nav {
	grid-area: nav;
}

nav section {
	border-top: 1px solid var(--text);
}

nav ul {
	font-size: smaller;
	list-style-type: none;
	padding: 0;
}

figure {
	text-align: center;
}

figure figcaption {
	color: darkgrey;
	font-size: smaller;
	margin: 1ch;
}

footer {
	grid-area: footer;
	padding: var(--padding);
}

li p:first-child:last-child {
	margin-block: 0.5rem;
}

/* Styles for a11y link. */
.skip-link {
	height: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

/* Textual styles. */
a {
	color: inherit;
	text-decoration-thickness: 1px;
}

a:hover {
	color: #f1729f;
}

h1 {
	line-height: 1;
	margin: 0;

	display: flex;
	flex-direction: column;
 }

h1 a {
	font-size: 1.5rem;
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

article h3, article h4 {
	margin-bottom: -0.75rem;
	font-style: italic;
}

article h2 {
	margin: 0;
	border-top: 1px solid var(--text);
}

nav h2, nav h3, nav h4 {
	margin: 0;
}

abbr {
	letter-spacing: .07rem;
	font-size: 110%;
	line-height: 1;
}

nav h3 {
	font-weight: bold;
	text-align: right;
	font-size: 80%;
	letter-spacing: .1rem;
}

@supports(font-variant-caps: all-small-caps) {
	abbr, nav h3, thead {
		font-variant-caps: all-small-caps;
	}
}

math {
	font-size: 121%;
}

.math-alert {
	border: 1px solid var(--text);
	border-radius: 10px;

	font-size: smaller;

	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-gap: 0.75rem;
	padding-inline: 0.5rem;
}

.dangerous-bend {
	color: gold;
	border-radius: 100%;
	text-shadow: 2px 2px var(--text);
	font-size: 5rem;
}

pre {
	white-space: pre-wrap;
	padding: 1ch;
	margin-inline: -1ch;
	border-radius: 10px;
	border: 1px solid black;
}

details {
	border: 1px solid var(--text);
	border-radius: 10px;
	padding: 1ch;
}

details.babel-output > summary::before {
	content: "Show ";
}

details.babel-output[open] > summary::before {
	content: "Hide ";
}

table {
	margin: auto;
	border-collapse: collapse;
}

thead {
	font-family: sans-serif;
	letter-spacing: .05em;
	font-weight: normal;
}

table tr + tr {
	border-top: 1px solid #777;
}

table td + td {
	border-left: 1px solid #777;
}

table th {
	padding: 0.3rem 0.5rem;
}

td {
	text-align: center;
	padding: 0.4rem;
}

div.hr {
	display: flex;
	align-items: center;
	grid-gap: 1rem;
	width: 50%;
	margin: auto;

	font-size: larger;
	color: var(--text);
}

hr {
	flex-grow: 1;
	height: 0;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: var(--text);
}

div.hr::before {
	content: '\2619'
}

div.hr::after {
	content: '\2767'
}

[aria-hidden] {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
