article {
    counter-reset: sidenote;
}

.sidenote, .marginnote {
    font-size: smaller;
    position: relative;
    display: none;
    line-height: 1.3;
}

input[type="checkbox"].margin-toggle {
    display: none;
}

.sidenote-number::before, .sidenote-label::before {
    counter-increment: sidenote;
    content: counter(sidenote);
}

.sidenote::before, .marginnote::before {
    position: absolute;
    right: calc(100% + 10px);
}

.sidenote::before {
    content: counter(sidenote)
}

.sidenote-number {
    vertical-align: super;
    font-size: 75%;
    line-height: 0;
}

.margin-toggle:checked + .sidenote {
    display: block;
    width: 100%;
    float: left;
    clear: both;
    margin-block: 0.3rem;
    margin-inline: 1rem;
}

@media (min-width: 768px) {
    .sidenote, .margin-toggle:checked + .sidenote {
        display: block;
        float: right;
        clear: right;
        width: 30ch;
        margin-right: -35ch;
        margin-block: 0 0.3rem;
    }
}
