@import './sidenotes.css';

html {
    font-family: 'GTSectra-Book', serif;
    line-height: 1.5;
    font-size: 20px;
}

body {
    max-width: 60ch;
    margin-inline: 10% auto;
}

img {
    max-width: 100%;
    box-shadow: 2px 2px black;
}

h1, h2, h3 {
    font-family: 'GTSectra-Display', serif;
    margin: 0;
}

h3 {
    margin-block-end: -0.75em;
}

h1 {
    text-align: center;
}

h1 a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
}

ol, ul {
    margin-inline: 0;
    padding-inline: 0;
}

ol li, ul li {
    margin-inline: 0;
}

li::marker {
    color: rgba(0, 0, 0, 0.3);
}


.skip-link, [aria-hidden] {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
